<div class="container-fluid">
	<div class="comment_area">
  		<div class="row">
			<div class="col-xs-3">
				<%= render "users/side_header" %>
			</div>
			<div class="col-xs-9 text-center">
				<div class = "user-edit">
					<h1>プロフィール編集</h1>
					<%= form_for(@user) do |f| %>

						<def class = "field">
							<%= f.label :ニックネーム %><br />
							<%= f.text_field :name, autofocus: true, :size=>"90x15" %>
						<div class="field">
							<%= f.label :image %>
							<%= f.attachment_field :profile_image %>
						</div>
						</def>
						<div class="field">
							<%= f.label :メールアドレス %><br />
						    <%= f.email_field :email, autofocus: true, :size=>"90x15" %>
						</div>
						<div class="field">
							<%= f.label :自己紹介 %><br />
							<%= f.text_area :introduction, placeholder: "自己紹介を書きましょう！", :size=>"90%x15" %>
						</div>
							<%= f.submit "編集を保存する", class: "btn btn-primary" %>
					<% end %><br>

					<%= link_to "退会する", user_withdrawal_path, class: "btn btn-danger" %>
				</div>
			</div>
		</div>
	</div>
</div>