<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class= "navbar navbar-fixed-top">
      <div class="container">
          <% if user_signed_in? %>
            <div class= "header">
              <div class= "nav-bars">
                <nav class="nav navbar-brand navbar-left header-logo">   

                </nav>
                <nav class="nav navbar-nav">
                  <span class="adjust"> 
                  </span>
                </nav>
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Toroba!!", tweets_path, class:"nav rogin-heaader-logo header-logo " %>
                     </li>
                      <li> <%= link_to user_path(current_user), class:"nav-item" do %>
                           <%= attachment_image_tag(current_user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "figure_standing.png", size:'50x50' ) %>
                            <%= current_user.name %>
                            <% end %>
                      </li>
                      <li><%= link_to  followings_tweet_tweets_path, class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;
                          <%= current_user.followings.count %>
                          <% end %>
                      </li>
                      <li><%= link_to followers_tweet_tweets_path, class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;
                          <%= current_user.followers.count %>
                          <% end %>
                      </li>
                      <li><%= link_to activity_path(current_user), class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;"活動履歴"
                          <% end %>
                      </li>
                      <li><%= link_to new_tweet_path, class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;"つぶやく"
                          <% end %>
                      </li>
                      <li><%= link_to notifications_path, class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;"通知一覧"
                          <% end %>
                      </li>
                      <li><%= link_to destroy_user_session_path, method: :delete, class:"nav-item" do %>
                          <i class="glyphicon glyphicon-home home"></i>&emsp;"ログアウト"
                          <% end %>
                      </li>
          <% else %>
                      <li><%= link_to "Toroba!!", new_user_session_path, class:"nav navbar-brand navbar-left header-logo  col-lg-4" %>
                      </li>
                        <li><%= link_to new_user_session_path, class:"nav-item" do %>
                            <i class="glyphicon glyphicon-home home"></i>&emsp;ログイン
                            <% end %>
                        </li>
                        <li><%= link_to new_user_registration_path, class:"nav-item" do %>
                            <i class="glyphicon glyphicon-home home"></i>&emsp;新規登録
                            <% end %>
                        </li>
                  </ul>
                </nav>
              </div>
            </div>
          <% end %>
           <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      </div>
    </header>
    <main>
      <div class="container main-container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>  
        <%# 各ページ本体 %>
        <%= yield %>
      </div>
    </main>
    <footer>

    </footer>
  </body>